#ignorer le fichier de base de données SQLite
db.sqlite3  
#ignorer l'environnement virtuel
venv/

#ALTER USER postgres WITH PASSWORD 'NouveauMotDePasse123!';
#CREATE USER wallet_user WITH PASSWORD 'MotDePasseFort123!';

#ignorer les fichiers de configuration de l'éditeur
.vscode/
.env